# No dot-directories except github/vscode
.*/
!.vscode/
!.github/

*.code-workspace
node_modules
nbproject

# intermediate output of the admin sub project, copied to admin/custom by
# tasks/copy-admin-components.mjs
src-admin/build

# npm package files
iobroker.*.tgz

Thumbs.db
.commitinfo

# i18n intermediate files
admin/i18n/flat.txt
admin/i18n/*/flat.txt